extends layout

block content
  include header
  .page-container.row-fluid
      .page-content
        .container-fluid
          .row-fluid
            .span12
              form.form-search(action='#')
                .input-append
                  input.m-wrap(type='text')
                  button.btn.green(type='button') Search!

          .row-fluid
              .well.clearfix
                .pull-left You have 653 Friends
                button.pull-right.btn Add all

          .row-fluid.portfolio-block
            .portfolio-text
              img(src='assets/img/profile/portfolio/logo_metronic.jpg', alt='')
              .portfolio-text-info
                .portfolio-btn
                  a.btn.blue.pull-right(href='#')
                    span Add
                h4 Sahat Yalkabov
                p New York, NY

          .row-fluid.portfolio-block
            .portfolio-text
              img(src='assets/img/profile/portfolio/logo_metronic.jpg', alt='')
              .portfolio-text-info
                .portfolio-btn
                  a.btn.blue.pull-right(href='#')
                    span Add
                h4 Sahat Yalkabov
                p New York, NY







