extends layout

block content
  include header
  .background-splash
  .page-container.row-fluid
    .login-buttons
      a.btn.blue.big(href='/auth/facebook')
        i.icon-facebook
        |  Sign in with Facebook